body {
    background: linear-gradient(to top left, #0a8df0, #c4c3c3); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none; 
  }
 

/* -- Nav bar -- */
nav {
    background: linear-gradient(to top left, #0a8df0, #d42ba3);
    width: auto;
    min-width: 370px;
    position: sticky !important;
    top: 0;
}

nav h3 {
    font-size: 40px;
    letter-spacing: 3px;
    background: -webkit-linear-gradient(#a641b5, #c4c3c3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav h3 span {
    font-size: 65px !important;
    background: -webkit-linear-gradient(#0a8df0, #c4c3c3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

/* -- Currency Converter -- */
.wrapper {
    width: 370px;
    padding: 30px;
    border-radius: 15px;
    border: 2px solid #007bff;
    color: white;
    background: linear-gradient(to top left, #DE26A0, #068FF1); 
}

.wrapper h1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.wrapper form {
    margin: 40px 0 20px 0;
}

form :where(input, select, button) {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}

form p {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
}

form select {
    color: #007bff;
    font-weight: bold;
    border: 2px solid #007bff;
}

form .select-box {
    height: 42px;
}

form input {
    text-align: center;
    font-size: 25px !important;
    font-weight: bolder;
    color: #007bff;
    height: 42px;
    font-size: 15px;
    padding: 0 15px;
    border: 2px solid #007bff;
}

form input:focus {
    padding: 0 14px;
    border: 2px solid #007bff;
}

form .icon {
    font-size: 21px !important;
    letter-spacing: -3px;
    padding-left: 2px;
    padding-bottom: 2px;
    background-color: white;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-top: 40px;
    border: 2px solid #007bff;
}

form .icon:hover {
    background-color: #007bff;
    border: 2px solid white;
    color: #007bff;
}

form .drop-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form button {
    margin-top: 20px;
    font-size: 20px !important;
    font-weight: bold !important;
    background-color: white !important;
    color: #007bff !important;
    border: 2px solid #007bff !important;
}

form button:hover {
    color: white !important;
    background-color: #007bff !important;
    border: 2px solid white !important;
}

form .exchange-rate {
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0 5px;
    text-align: center;
}

/* -- Currency Rates -- */

.wrapper2 {
    width: 370px;
    padding: 30px;
    border-radius: 15px;
    border: 2px solid #007bff;
    color: white;
    background: linear-gradient(to bottom right, #DE26A0, #068FF1); 
}

.live-currency-rates {
    text-align: center !important;
}

.live-currency-rates h1 {
    font-size: 30px;
    color: white;
    font-weight: bolder;
}

.live-currency-rates h5 {
    display: inline-block;
    margin-right: 10px;
}

.header {
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.base-select {
    color: #7758c7;
    font-weight: bold;
    border: 2px solid #7758c7;
    border-radius: 5px;
}

.currency-rate {
    color: white;
    font-size: 18px;
    text-decoration: dotted;
}

/* -- Footer -- */
.footer-container {
    color: white;
    background: linear-gradient(to bottom right, #DE26A0, #068FF1); 
    text-align: center;
    width: auto;
    min-width: 370px;
}

.social {
    border-radius: 10px;
    background: linear-gradient(135deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%); 
    width: 75px;
    display: inline-block;
}

.social2 {
    border-radius: 10px;
    background: linear-gradient(135deg,hsla(294, 100%, 55%, 1) 0%, hsla(197, 100%, 63%, 1) 100%); 
    width: 75px;
    display: inline-block;
}

.social-link {
    color: white;
    text-decoration: none;
}